<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{ list.name }}</h3>
    {% for item in list.item_set.all %}
    <form>
        {% if item.is_done %}
            <input type="checkbox" checked>
        {% else %}
            <input type="checkbox">
        {% endif %}
        <p>{{ item.name }}</p>
    </form>
    {% endfor %}
</body>
</html>